absl-py==0.15.0
aiohttp==3.7.4.post0
astunparse==1.6.3
async==0.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==24.2.0
backports.cached-property==1.0.2
blessed==1.20.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
CJKwrap==2.2
clang==5.0
curtsies==0.4.2
cwcwidth==0.1.8
discord==1.7.3
discord.py==1.7.3
emoji==2.14.0
flatbuffers==1.12
future==1.0.0
gast==0.4.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.41.0
h5py==3.1.0
idna==3.3
importlib-metadata==4.8.1
Jinja2==3.1.4
keras==2.6.0
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.1.5
multidict==6.0.5
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
pexpect==4.9.0
protobuf==3.19.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycurl==7.43.0
PyGObject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.12
requests==2.26.0
requests-oauthlib==1.3.0
rollbar==1.0.0
rsa==4.7.2
schedule==1.2.2
shutit==1.0.173
six==1.15.0
SQLAlchemy==2.0.36
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
texttable==1.7.0
typing_extensions==4.7.1
unattended-upgrades==0.1
urllib3==1.26.7
wcwidth==0.2.13
Werkzeug==2.0.2
wrapt==1.12.1
yarl==1.9.4
zipp==3.6.0
